<mat-card>
    <form #form="ngForm" (submit)="saved.emit(newNote)">
        <mat-card-content>
            <mat-form-field>
                <label for="title">Title:</label>
                <input
                    id="title"
                    class="new-note-title"
                    type="text"
                    name="title"
                    required
                    [(ngModel)]="newNote.title"
                />
            </mat-form-field>

            <mat-form-field>
                <textarea
                    class="new-note-description"
                    type="text"
                    name="description"
                    [(ngModel)]="newNote.description"
                ></textarea>
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
            <button
                mat-button
                type="button"
                routerLink="/home" 
                routerLinkActive="active"
                (click)="cancelled.emit()"
            >
                Cancel
            </button>
            <button 
                mat-button
                [disabled]="form.invalid"
                type="submit"
                color="primary"
                routerLink="/home" 
                routerLinkActive="active"
            >
                Save
            </button>
        </mat-card-actions>
    </form>
</mat-card>