<mat-card>
    <form #form="ngForm" (submit)="saved.emit(selectedNote)">
        <mat-card-content>
            <mat-form-field>

                

                <mat-form-field appearance="standard">
                    <mat-label>Standard form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>



                <h2>Title:</h2>
                <input
                    mat-input
                    class="new-note-title"
                    type="text"
                    name="title"
                    required
                    [(ngModel)]="selectedNote.title"
                />
            </mat-form-field>

            <mat-form-field>
                <textarea
                    mat-input
                    class="new-note-description"
                    type="text"
                    name="description"
                    [(ngModel)]="selectedNote.description"
                ></textarea>
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
            <button
                mat-button
                type="button"
                (click)="cancelled.emit()"
            >
                Cancel
            </button>
            <button 
                mat-button
                [disabled]="form.invalid"
                type="submit"
                color="primary"
            >
                Save
            </button>
        </mat-card-actions>
    </form>
</mat-card>